<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<div class="card">
    <div class="card-header">
        Edit Project
    </div>
    <div class="card-body">
        <form action="/books/update/<%= id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" name="description" rows="3"><%= description %></textarea>
            </div>
            <div class="form-group">
                <label>Current Image:</label>
                <% if (image_url) { %>
                    <div class="mb-3">
                        <img class="img-thumbnail" src="<%= image_url %>" alt="<%= name %>">
                        <button type="button" class="btn btn-sm btn-danger mt-2" id="removeImageBtn">Remove Image</button>
                    </div>
                <% } else { %>
                    <p>No image uploaded</p>
                <% } %>
            </div>
            <div class="form-group">
                <label>New Image:</label>
                <input type="file" class="form-control-file" name="image" accept="image/*">
            </div>
            <input type="hidden" name="existing_image_url" value="<%= image_url %>">
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Update"/>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
    $(document).ready(function() {
        $('#removeImageBtn').click(function() {
            // Confirm action with user if needed
            if (confirm('Are you sure you want to remove this image?')) {
                // Perform action to remove image or clear existing image URL field
                $('.img-thumbnail').remove(); // Remove the image element
                $('[name="existing_image_url"]').val(''); // Clear the existing image URL field
            }
        });
    });
</script>

</body>
</html>
